management:
  endpoints:
    web:
      exposure:
        include: prometheus
  metrics:
    tags:
      application: spring-boot-ml
server:
  tomcat:
    mbeanregistry:
      enabled: true
app:
  model:
    path: models/final_sentiment_model.proto