spring:
  main:
    banner-mode: off
management:
  endpoints:
    web:
      exposure:
        include: health,prometheus
  metrics:
    tags:
      application: spring-boot-sentiment
server:
  tomcat:
    mbeanregistry:
      enabled: true
app:
  model:
    path: models/final_sentiment_model.proto